<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  <div class="article">
    {% if page.cover %}<img src="{{ site.url }}/assets/img/{{ page.cover }}" />{% endif %}
    <div class="article-meta">
      <div>
        <span class="author"><a href="{{ site.url }}">{{ site.author }}</a></span>
        <span class="date">- {{ page.date | date_to_long_string }}</span>
      </div>
    </div>
    <h1>{{ page.title }}</h1>
    <div class="article-content">{{ content }}</div>
  </div>
  <footer></footer>
  </body>
</html>
